
// Utility classes for text alignment
.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

p {
    text-align: left ;
		line-height: 1.5 !important;
		letter-spacing: normal !important;
		word-spacing: normal !important;
}